<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>@ViewBag.Title | Lojiteks</title>
    <meta content="@($"{ViewBag.Desc} | Lojiteks")" name="description" />


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta content="Lojiteks" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/assets/images/favicon.ico">

    @RenderSection("styles", required: false)

    <!-- Bootstrap Css -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Icons Css -->
    <link href="~/assets/css/icons.min.css" rel="stylesheet" />
    <!-- App Css-->
    <link href="~/assets/css/app.min.css" rel="stylesheet" />
    
</head>
@{
    var viewPath = ViewContext.View.Path;
    var pageName = System.IO.Path.GetFileNameWithoutExtension(viewPath);
}
<body data-sidebar="dark" data-page="@pageName">
    @RenderBody()

    @Html.Partial("~/Views/Shared/_vendor_scripts.cshtml")
    
    @RenderSection("scripts", required: false)
    
</body>
</html>
