@model LojiteksWeb.Models.LoginViewModel

@{
    ViewData["Title"] = "Kullanıcı Girişi ";
    ViewData["Desc"] = "Kullanıcı Girişi ";
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
}

@section styles {
        <!-- owl.carousel css -->
        <link rel="stylesheet" href="~/assets/libs/owl.carousel/assets/owl.carousel.min.css" />
        <link rel="stylesheet" href="~/assets/libs/owl.carousel/assets/owl.theme.default.min.css" />


}

<div class="container-fluid p-0">
    <div class="row g-0">
        <!-- Sol Taraf: Carousel / Testimonial Alanı -->
        <div class="col-xl-9">
            <div class="auth-full-bg pt-lg-5 p-4">
                <div class="w-100">
                    <div class="bg-overlay"></div>
                    <div class="d-flex h-100 flex-column">
                        <div class="p-4 mt-auto">
                            <div class="row justify-content-center">
                                <div class="col-lg-7">
                                    <div class="text-center">
                                        <h4 class="mb-3">
                                            <i class="bx bxs-quote-alt-left text-primary h1 align-middle me-3"></i>
                                            <span class="text-primary">Lojiteks</span> 
                                            <span data-key="t-project-intro">Projemiz ile Tekstil Lojistiğini kaydediyoruz.</span>
                                        </h4>

                                        <div dir="ltr">
                                            <div class="owl-carousel owl-theme auth-review-carousel" id="auth-review-carousel">
                                                <div class="item">
                                                    <div class="py-3">
                                                        <p class="font-size-16 mb-4" data-key="t-carousel-text-1">
                                                            RFID kullanarak gönderilerinizi müşterilere göndermeden önce, paket kapaklarını açmadan saniyeler içinde içerideki ürünlerin renk, beden, model ve miktar gibi tüm detaylarını görebilir ve kontrol edebilirsiniz.
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="py-3">
                                                        <p class="font-size-16 mb-4" data-key="t-carousel-text-2">
                                                            Müşteri bazlı gönderilerinizi raporluyoruz; sevkiyattaki kaç adet koli/askı ve kutuların içinde kaç adet ürün olduğunu, ayrıca müşteri etiketlerinin kimlik numaralarıyla birlikte sağlıyoruz.
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="py-3">
                                                        <p class="font-size-16 mb-4" data-key="t-carousel-text-3">
                                                            Bu detayları raporlayarak, lojistik operasyonlarında insan hatalarını önlemenize yardımcı oluyor ve böylece yanlış sevkiyatları engelliyoruz.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- ✅ Sol Tarafın En Altına Eklenen "TEAM" Bölümü -->
                                        <section class="section" id="team">
                                            <div class="container">
                                                <div class="col-lg-12">
                                                    <div class="owl-carousel owl-theme events navs-carousel" id="team-carousel">
                                                        @for (int i = 1; i <= 13; i++)
                                                        {
                                                                <div class="item">
                                                                    <div class="card text-center team-box">
                                                                        <img src="@Url.Content($"~/assets/logo/firm_logo/logo_{i}.jpg")" alt="Logo @i" class="rounded">
                                                                    </div>
                                                                </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                        <!-- ✅ TEAM Bölümü Bitti -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sağ Taraf: Login Formu -->
        <div class="col-xl-3">
            <div class="auth-full-page-content p-md-5 p-4">
                <div class="w-100">
                    <div class="d-flex flex-column h-100">
                        <div class="mb-4 mb-md-5">
                            <a href="@Url.Action("Index", "Dashboard")" class="d-block card-logo">
                                <img src="@Url.Content("~/assets/logo/Logo-2Color.svg")" alt="" height="175" class="card-logo-dark" />
                            </a>
                        </div>

                        <div class="my-auto">
                            <div>
                                <div class="dropdown d-inline-block">
                                    <button type="button" class="btn header-item waves-effect" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <img id="header-lang-img" src="~/assets/images/flags/turkey.jpg" alt="Header Language" height="16">
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <a href="javascript:void(0);" class="dropdown-item notify-item language" data-lang="tr">
                                            <img src="~/assets/images/flags/turkey.jpg" alt="user-image" class="me-1" height="12"> <span class="align-middle" data-key="t-language-tr">Türkçe</span>
                                        </a>
                                        <a href="javascript:void(0);" class="dropdown-item notify-item language" data-lang="en">
                                            <img src="~/assets/images/flags/us.jpg" alt="user-image" class="me-1" height="12"> <span class="align-middle" data-key="t-language-en">English</span>
                                        </a>
                                        <a href="javascript:void(0);" class="dropdown-item notify-item language" data-lang="sp">
                                            <img src="~/assets/images/flags/spain.jpg" alt="user-image" class="me-1" height="12"> <span class="align-middle" data-key="t-language-sp">Spanish</span>
                                        </a>
                                        <a href="javascript:void(0);" class="dropdown-item notify-item language" data-lang="gr">
                                            <img src="~/assets/images/flags/germany.jpg" alt="user-image" class="me-1" height="12"> <span class="align-middle" data-key="t-language-gr">German</span>
                                        </a>
                                        <a href="javascript:void(0);" class="dropdown-item notify-item language" data-lang="it">
                                            <img src="~/assets/images/flags/italy.jpg" alt="user-image" class="me-1" height="12"> <span class="align-middle" data-key="t-language-it">Italian</span>
                                        </a>
                                        <a href="javascript:void(0);" class="dropdown-item notify-item language" data-lang="ru">
                                            <img src="~/assets/images/flags/russia.jpg" alt="user-image" class="me-1" height="12"> <span class="align-middle" data-key="t-language-ru">Russian</span>
                                        </a>
                                    </div>
                                </div>
                                <h5 class="text-primary" data-key="t-welcome-back">Tekrar Hoşgeldin!</h5>
                                <p></p> <!-- Boş bırakıldı -->
                            </div>

                            <!-- Hata Mesajı İçin Bootstrap Alert -->
                            @if (ViewBag.ErrorMessage != null)
                            {
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    @ViewBag.ErrorMessage
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                            }

                            <div class="mt-4">
                                <!-- Kullanıcı Girişi Formu -->
                                <form asp-action="Login2" method="post">
                                    <div class="mb-3">
                                        <label asp-for="KullaniciAdi" class="form-label" data-key="t-username">Kullanıcı Adı</label>
                                        <input asp-for="KullaniciAdi" class="form-control" placeholder="" data-key="t-enter-username" />
                                        <span asp-validation-for="KullaniciAdi" class="text-danger"></span>
                                    </div>

                                    <div class="mb-3">
                                        <label asp-for="Sifre" class="form-label" data-key="t-password">Şifre</label>
                                        <div class="input-group auth-pass-inputgroup">
                                            <input asp-for="Sifre" class="form-control" placeholder="" type="password" aria-label="Password" aria-describedby="password-addon" data-key="t-enter-password"/>
                                            <button class="btn btn-light" type="button" id="password-addon">
                                                <i class="mdi mdi-eye-outline"></i>
                                            </button>
                                        </div>
                                        <span asp-validation-for="Sifre" class="text-danger"></span>
                                    </div>

                                    <div class="mb-3">
                                        <a href="@Url.Action("Recoverpw2", "Auth")" class="text-muted" data-key="t-forgot-password">Şifremi unuttum!</a>
                                    </div>

                                    <div class="mt-3 d-grid">
                                        <button class="btn btn-primary waves-effect waves-light" type="submit" data-key="t-login">Giriş Yap</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="mt-4 mt-md-5 text-center">
                            <p class="mb-0">
                                © <script>document.write(new Date().getFullYear())</script> Lojiteks. 
                                <span data-key="t-crafted-by">Crafted with</span> 
                                <i class="mdi mdi-heart text-danger"></i> 
                                <span data-key="t-by-company">by SolutionRFID</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->
</div>


@section scripts {
    <!-- owl.carousel js -->
    <script src="~/assets/libs/owl.carousel/owl.carousel.min.js"></script>
    <!-- auth-2-carousel init -->
    <script src="~/assets/js/pages/auth-2-carousel.init.js"></script>
    <!-- App js -->
    <script src="~/assets/js/app.js"></script>
    <script>
        $(document).ready(function () {
            $("#auth-review-carousel, #team-carousel").owlCarousel({
                loop: true,
                margin: 10,
                autoplay: true,
                autoplayTimeout: 3000,
                autoplayHoverPause: true,
                responsive: {
                    0: { items: 1 },
                    600: { items: 2 },
                    1000: { items: 3 }
                }
            });
        });
    </script>
}
